@font-face {
  font-family: "Nunito";
  src: url(./assets/font/Nunito/static/Nunito-Medium.ttf);
}

@font-face {
  font-family: "Nunito";
  src: url(./assets/font/Nunito/static/Nunito-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url(./assets/font/Nunito/static/Nunito-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: "Pacifico";
  src: url(./assets/font/Pacifico/Pacifico-Regular.ttf);
}
